<div class="row p-2">
    {{!-- Colonna da 3 - DATI PROFILO--}}
    <div class="col-md-4">
        <div class="card">
            <img src="{{user.profile_picture}}" alt="{{user.full_name}}" class="card-img-top">
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title p-2">{{user.full_name}}</h5>
                <p class="p-2"><strong>{{user.username}}</strong></p>
                <p class="p-2">{{user.bio}}</p>
                <hr>
                {{user.counts.media}} <i style="color: brown" class="fas fa-camera-retro"></i> 
                {{user.counts.follows}} <i style="color:red" class="fas fa-heart"></i>
                {{user.counts.followed_by}} <i style="color: blue" class="fas fa-users"></i>
            </div>
            <div class="card-footer">
                <a href="{{user.website}}" target="_blank" class="btn btn-light btn-block">Network Service</a> 
            </div>
        </div>
    </div>
    <div class="sp50">&nbsp;</div>
    <div class="col-md-12"> {{!-- Colonna da 9 per le immagini--}}
        <div class="row">
            {{#each posts}}
                <div class="col-md-4">
                    <div class="card mb-2">
                        {{!-- <img src="{{images.thumbnail.url}}" class="card-img-top" alt=""> --}}
                        {{!-- <img src="{{images.low_resolution.url}}" class="card-img-top" alt=""> --}}
                        <img src="{{images.standard_resolution.url}}" class="card-img-top" alt="">
                        <div class="card-body">
                           <p class="p-2">{{caption.text}}</p>
                           <p class="p-2">Creato da: {{user.full_name}}</p>
                           <p>{{dataFormattata created_time}}</p>
                           <p><a href="{{link}}">Link Post</a></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>